<div class="float-right">
  <a routerLink="/admin/noticias/cadastrar/novo" class="btn btn-primary">Cadastrar</a>
</div>

<h1>Notícias</h1>
<hr>
<table class="table mt-1 table-bordered table-hover table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>Título</th>
      <th>Editar </th>
      <th>Excluir </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let noticia of noticias$ | async">
      <td>
        {{noticia.id}}
      </td>
      <td>
        {{noticia.titulo}}
      </td>
      <td>      
  <a  class="btn btn-successe" [routerLink]="['cadastrar',noticia.id]" >Editar</a> |
  
<a type="button" class="btn btn-danger" (click)='excluir(noticia.id)'>Excluir</a>
  
</td>
    </tr>

  </tbody>
</table>